.col-lg-12 {
  white-space: nowrap !important;
  max-width: 100%;
  overflow: auto;
}
.col-lg-3 {
  float: none !important;
  max-width: 33%;
  max-height: 90%;
  min-height: 90%;
  display: inline-block !important;
}
body {
  font-family: Lato;
  border-top: 10%;
}
.light {
  color: #bcbbbb;
}
.dark {
  color: #747704;
}
